# Logs
*.log

# Artifacts
build
dist
# npm
node_modules
# pip
*.egg-info
# mkdocs
site

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
